$siteWidth: 540px;
$navHeight: 36px;
$navBackgroundColor: #464b4c;

// Le mode mobile peut afficher un select si l'utilisateur le demande
// Donc on le cache d'office et on l'affiche dans les media queries
// #mobile_nav {
//   display:none;
//   margin:0 auto;
// }

#top_nav > ul {
  text-align: center;
}

.top_nav {
  height: $navHeight;
  // background: $navBackgroundColor;
  // border-top: 1px solid darken($navBackgroundColor, 7%);
  // border-bottom: 1px solid darken($navBackgroundColor, 10%);
  // @include linear-gradient(top, $navBackgroundColor, darken($navBackgroundColor, 3%));
  // @include box-shadow(inset 0 1px rgba(white, .06));

  & > ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding:0;


    & > li { 
      @include inline-block ;
      vertical-align: top; 

      & > a{
        @include transition(.1s ease-out);
        @include transition-property(background-color, line-height);
        display: block;
        padding: 0 20px;
        line-height: $navHeight;
        color: #eee;
        text-decoration: none;
        text-shadow: 0 -1px darken($navBackgroundColor, 10%);
        border-left: 1px solid lighten($navBackgroundColor, 3%);
        border-left: 1px solid rgba(white, .06);
        border-right: 1px solid darken($navBackgroundColor, 7%);
        border-right: 1px solid rgba(black, .20);

      }
      &.active > a, 
      &.active > a:hover, 
      &.nav-selected > a, 
      &.nav-path-selected > a,
      {
          line-height: $navHeight - 3px;
          color: #eee;
          background: darken($navBackgroundColor, 8%);
          background-repeat: no-repeat;
          border-left: 0;
          border-right: 0;
          border-bottom: 3px solid #48a9c0;
          @include linear-gradient(top, lighten($navBackgroundColor, 1%), darken($navBackgroundColor, 8%));
          @include box-shadow( inset 0 -1px 8px rgba(black, .2));
      }

    }
  }
}
/* --- Mobile Nav --- */

.mobile-placeholder-nav {
  display: none;
  // position: relative;
  height: $navHeight;
  .toolbar-active & {
    // margin-top: 60px;
  }
}

#fixed-nav {
  display: none;
  position:fixed;
  width: 100%;
  z-index: 100;
  ul {
    text-align: left;
    li {
        width: 40%;
      &.mobile-in-nav {
      }
      &.search-in-nav {
        float: right;
      }        
    }
  }
}

/* --- Nav Panes --- */

.submenu_panes li, .nav {
  list-style: none;
  margin: 0;
  padding: 0;
}


.submenu_panes {
  height: 0;
  /*width: 920px;*/
  position: relative;
  overflow: hidden;
  clear: both;
  background-color: transparent;
}

.home .submenu_panes, div.empty_pane_selected {
  height: 0;
}

.submenu_panes .close {
  position: absolute;
  right: 10px;
  top: 15px;
  z-index: 10;
  &:hover i {
    left: 0;
    bottom: 5px;
  }
}

.nav-panes {
  width: 20000em;
  position: absolute;
  clear: both;
  margin: 0;
  border: 0;
}


.nav-pane {
  float: left;
  display: block;
  width: 920px;
  font-size: 14px;
  background-color: transparent;
  // box-shadow: 0 0 3px #ccc;
  h3 {
    margin:10px 0 0 0;
  }
  ul {
    list-style: none;
    margin: 15px 0;
  }
  li {
    float: left;
    a {
      display: block;
      color: #efefef;
      text-decoration: none;
      font-size: 13px;
      padding-bottom: 8px;
      margin-right: 25px;
      opacity: .8;
      transition: all 0.25s;
      background-repeat:no-repeat;
    }
    &.active a, &:hover a {
      opacity: 1;
    }
  }
  .close {
    display: none;
  }
}

/* --- Specific nav Panes --- */

.stack-pane {
  padding:20px 0;
}
/* Pour replacer les liste et les navigation en liste */
#supermint .stack-pane li {
  display: block;
  float: none;
  margin-left: 10px;
}


.l123 > li > a, .l12 li a {
  /*    border-bottom:1px solid rgba(0,0,0,.3);
      box-shadow: 0 2px 2px -2px rgba(250,250,250,.3);*/
}

.l123 li a, .l12d li a {
  font: 17px / 27px "LeagueGothicRegular", Arial, sans-serif;
  background-position: left 8px;
  transition: all 0.25s;
}

.l123 > li {
  &.active > a, > a:hover {
    background: url(../images/bullet.png) no-repeat left 8px;
    text-indent: 20px;
  }
}

.l12d li {
  &.active a, a:hover {
    background: url(../images/bullet.png) no-repeat left 8px;
    text-indent: 20px;
  }
}

.l123 ul {
  padding: 0;
  margin-top: 10px;
  li {
    float: none;
    width: 100%;
    a {
      position: relative;
      font-family:inherit;
      font-size: 14px;
      line-height: 16px;
      border: none;
      padding-left: 20px;
      &:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        width: 12px;
        height: 12px;
        background: url(../images/bullet.png) no-repeat;
        opacity: .4;
        transition: all 0.25s;
      }
    }
    &.active a:before, &:hover a:before {
      opacity: 1;
      left: 3px;
    }
  }
}

ul.l12 {
  padding-bottom: 30px;
  li {
    margin-bottom: 10px;
    a {
      text-transform: uppercase;
      background-position: left 4px;
    }
    &.active a, a:hover {
      background: url(../images/bullet.png) no-repeat left 4px;
      text-indent: 20px;
    }
  }
}

ul.l12d! {}

.l12d li p {
  font-size: 12px;
  overflow: hidden;
}
#top_nav .product-nav-pane {
  hr {
    margin: 15px 0;
  }
}
ul.product_categories {
  float: left;
  padding:0;
  margin: 0;
  li {
    margin:0;
    width: 100%;
    i {
      position:relative;
      top: -3px;
    }
    a {
      display: inline-block;
      line-height:14px;
      // top: -4px;
      color: #373b3e;
      transition: none;
      padding:0;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; 
      text-shadow: none;     
    }
    // http://demo.hongkiat.com/css3-checkbox-radio/
    .pc_check {
      display: none;  
      margin-top: -4px;     
    }
    .pc_check.pc_check_visible {
      display: inline-block;
    }

    &.head-title {
      float: none;
      padding-top:15px;
      margin-bottom: 10px;
      margin-right: 10%;
      width: 90%;
      text-transform: uppercase;
      
      a {
        color: #373b3e;
        font-size: 20px;
        font-weight: bold;
        padding-left:30px;
      }
    }


  }
}
.nav-pane-product-submit {
  visibility: hidden;
}

/* --- Colored boxed nav --- */
.boxed-c {
  padding: 0;
  overflow: hidden;
  background: #fff;
  border: 1px solid #ccc;
  a {
    display: block;
    padding-left: 20px;
    border-left: 5px solid;
    line-height: 2.5em;
    color: #686868;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    border-color:#0088cc;
    &:hover, &:focus, &.active {
      background: #efefef;
      color: #ea4f35;
    }
  }
  i {
    margin-right: 15px;
    color: #686868;
  }
  em {
    float: right;
    margin: 1.5em 15px 0;
    padding: 3px 5px;
    border-radius: 50%;
    background: #ea4f35;
    font-size: .7em;
    line-height: 1em;
    font-style: normal;
    color: #fff;
  }
}

/* --- Breadcrumb ---*/

.rcrumbs {
  white-space: nowrap;
  text-align: right;
  padding-right: 10px;
  > ul {
    padding: 0;
    list-style: none;
    > li {
      overflow: hidden;
      display: none;
      &.show {
        display: inline-block;
      }
      &.ellipsis {
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  span {
    text-transform: uppercase;
    font-size: 13px;
  }
  a {
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    transition: all 0.25s;
    &:hover {
      margin-right: 5px;
      + i {
        margin-right: 5px;
      }
    }
  }
}


/* --- @- Boxed nav --- */

.nav-boxed li {
  a {
    position: relative;
    margin-bottom: -1px;
    display: block;
    border: 1px solid #ccc;
    padding: 5px 5px;
    color: inherit;
  }
  &:first-child a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  &:last-child a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

/* --- @- ccm pagination --- */

div.ccm-pagination {
  margin-top:30px;
  span {
    @include inline-block;
    margin: 0;
    &:first-child {
      border-radius: 3px 0 0 3px;
    }
    &:last-child {
     border-radius: 0 3px 3px 0; 
    }

  }
  & > span {
    border:1px solid #ccc;
    min-width: 35px;
    padding:5px;
  }
}


/* --- @- Top secondary nav --- */

/* In blocks/manual_nav/templates/supermint/view.css */