.ccm-core-commerce-checkout-form + h1, .ccm-core-commerce-checkout-cart h1 {
	margin:30px 0;

}
div.ccm-core-commerce-checkout-form table {
	border:none;
	background:none;
	color:inherit;
	
	td {
	background:none;
	padding:10px;
	}
}
.ccm-core-commerce-profile-address-save {
	margin:30px 0;

	label input {
		margin: 0 20px;
	}
}
table.ccm-core-commerce-cart td {
	border-bottom: 1px solid #eee;
}
tr.ccm-core-commerce-cart-subtotal td {
	background:#da3376;
	border:none;
	color:#fff;
	font-size:24px;
}
.ccm-core-commerce-cart-buttons {
	margin:30px 0;
}
.ccm-core-commerce-cart-buttons:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}



/* --- Product Page --- */

.price_circle {
		display: block;
		position: relative;
		border-radius: 300px;
		width: 160px;
		height: 160px;
		text-align: center;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
		line-height: 160px;
		font-size: 18px;
		color: #fff !important;
	strike {
		position: absolute;
		top: -30px;
		left: 40%;
	}
	strong {
		display: block;
		padding-top:70px;
		font-size: 18px;
		line-height: normal;
	}
}