.tabs_wrapper {
	position: relative;
	overflow: hidden;
}
.tabs_header {
	margin: 0px;
	padding: 0px;
	position: absolute;
	bottom: 0px;
	height: 40px;
}
.tab_header_item {
	display: inline;
	margin-left: 5px;
	border: 1px solid red;
}
.tab_selected {
	background: blue;
	color: white;
}
.tab_content {
	display: none;
	background: #ccc;
	margin-bottom: 40px;
	margin-top: 0px;
}
	.tab_content p {
		margin-top: 0px;
	}

