#full-width {
        background:#cccccc;
}
.simple_slider_wrap {
    position:relative;
    zoom:1;

}
ul.simple_slider, ul.simple_slider li  {
    list-style: none;
    margin: 0;
    padding: 0;
    display:block;
    position:relative;
    overflow:hidden;
}
/* For list inside a content */
.simple_slider li li {
    position:relative !important;

}

.simple_slide {
    margin:0; padding:0; overflow:hidden;
    background:#ffffff;
}

.simple_slide {
    background:#ffffff;
}

ul.simple_controls {
        margin:0; padding:0;
    position:absolute;
    bottom:-40px; left:240px;
}
li.simple_control {
    background:url(images/buttons.png) no-repeat;
    background-position:0px 0px; 
    position:relative;
    display:block;
    cursor:pointer;
    float:left;
    width:14px;
    height:14px;
    margin: 0px 2px;
    /* hover background-position:-14px 0px;  */
}
ul.simple_controls li.active {
    background-position:-28px 0px;
    
}
li.simple_control div {
    display:none;
    position:absolute;
    z-index:50;
    width:140px; height:30px;
    left:-50px; top:-25px;
    
}
li.simple_control div span {
    display:block;
    padding:5px;
    text-align:center;
    background:#eeeeee;
}
a.simple_nav {
    position:absolute;
    display:block;
    height:350px; width:61px;
    top:0;
outline:0;
}
a.simple_next_nav {
    right:-61px;
    background:url(images/next.png);
}
a.simple_prev_nav {
    left:-61px;
    background:url(images/prev.png);
}
a.simple_next_nav:hover{
    background:url(images/next_hover.png);
}
a.simple_prev_nav:hover {
    background:url(images/prev_hover.png);
}

.spaced {
    margin-top:1em;
    border:#cccccc 1px solid;
}
.spaced td {
    border:1px dotted #eeeeee;
    padding:5px;
}