.skin5.right .tabs_header {
	margin: 0px;
	padding: 0px;
	width: 150px;
	float: right;
}
	.skin5.right .tab_header_item {
		display: block;
		margin-left: 5px;
	}
		.skin5.right .tab_header_item a {
			outline: 0;
		}
 .skin5.right .tab_selected {
	background: red;
}
 .skin5.right .tab_content {
	display: none;
}
/* skin specifics */


.skin5.right.tabs_wrapper {
	border: 1px solid #ddd;
}
 .skin5.right .tabs_header {
	overflow: visible;
	padding-top: 0px;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #eee;
}
 .skin5.right .tab_header_item {
	margin-left: 0px;
	background: url(images/tabs_header_right.png) right bottom repeat-y;
	position: relative;
}
 .skin5.right .tab_header_item.tab_selected span.header_item_before {
	background: url(images/tabs_selected_right.png) left center no-repeat;
	display: block;
	position: absolute;
	left: -10px;
	height: 100%;
	width: 10px;
}
 .skin5.right .tab_header_item span.header_item_after {
	background: url(images/tabs_border_right.png) left top no-repeat;
	display: block;
	position: relative;
	width: 100%;
	height: 3px;
}
 .skin5.right .tab_header_item.last_tab span.header_item_after {
	background-image: none;
}

.skin5.right .tab_header_item.tab_selected a {
	color: #cd0000;
}
 .skin5.right .tab_header_item.first_tab {
}
 .skin5.right .tab_header_item.first_tab.tab_selected {
}
 .skin5.right .tab_header_item.last_tab {
}
 .skin5.right .tab_header_item.last_tab.tab_selected {
	border-right: none;
}
 .skin5.right .tab_header_item a {
 	display: block;
 	padding: 10px;
	padding-left: 30px;
	font: bold 12px/18px Arial, Helvetica, sans-serif;
	color: #333;
	text-decoration: none;
	outline: 0;
}
 .skin5.right .tab_content {
	350
	color: #777;
	padding: 5px 30px;
}



