@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('fonts/LeagueGothic-Regular-webfont.eot');
  src: url('fonts/LeagueGothic-Regular-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/LeagueGothic-Regular-webfont.woff') format("woff"), url('fonts/LeagueGothic-Regular-webfont.ttf') format("truetype"), url('fonts/LeagueGothic-Regular-webfont.svg#LeagueGothicRegular') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ColaborateThinRegular';
  src: url('fonts/ColabThi-webfont.eot');
  src: url('fonts/ColabThi-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/ColabThi-webfont.woff') format("woff"), url('fonts/ColabThi-webfont.ttf') format("truetype"), url('fonts/ColabThi-webfont.svg#ColaborateThinRegular') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ColaborateMediumRegular';
  src: url('fonts/ColabMed-webfont.eot');
  src: url('fonts/ColabMed-webfont.eot?#iefix') format("eot"), url('fonts/ColabMed-webfont.woff') format("woff"), url('fonts/ColabMed-webfont.ttf') format("truetype"), url('fonts/ColabMed-webfont.svg#webfont8gV1zcAy') format("svg");
  font-weight: normal;
  font-style: normal;
}