#search-box #search-go {
   top:-10px;
}

#search-box {
    top:-45px;
    z-index:20;
}

#main-nav ul li ul {
    left:-40px;
    top:120px;
}
#main-nav ul li ul li ul {
    left:155px;
    top:-16px;
}
.silence-main-nav li:hover {
        visibility:inherit;
}