.skin2.top .tabs_header {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.skin2.top .tab_header_item {
	float: left;
	margin: 0px;
}
.skin2.top .tab_content {
	clear: left;
	display: none;
}
/* end top */


.skin2.top.tabs_wrapper {
	border: 1px solid #ddd;
	border-top: none;
} 
.skin2.top .tabs_header {
	overflow: hidden;
	margin-bottom: 10px;
	border-top: 4px solid #CD0000;
	padding-top: 1px;
}
.skin2.top .tab_header_item {
	margin-left: 1px;
	background: #CD0000;
}
.skin2.top .tab_header_item.tab_selected {
	background: #fff;
}
.skin2.top .tab_header_item.tab_selected a {
	color: #000;
}
.skin2.top .tab_header_item a {
	padding: 0px 20px;
	font: bold 12px Arial, Helvetica, sans-serif;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
	outline: 0;
}
.skin2.top .tab_content {
	350
	color: #777;
	padding: 5px 30px;
}



